*{
    font-family: 'Roboto', sans-serif;

}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/2.jpg);
    background-size: cover;
    position: relative;
    
}


.form{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 40vw;
    margin-top: 40vh;
    box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);

    
}

form{
    margin-left: 30px;
    padding-top: 30px;
    
    // background-color: aliceblue
}

.login{
    position: relative;
    margin-bottom: 10px;
}
.password{
    position: relative;
    margin-bottom: 10px;
}
.inputValid{
    width: 80%;
    outline: none;
    border: none;
    // border-bottom: solid 2px rgb(77, 206, 231);
    background-color: azure;
    height: 30px;
    &:focus{
        // border-bottom: solid 2px rgb(77, 206, 231);

    }

}

.inputInvalid{
    width: 80%;
    outline: none;
    border: none;
    // border-bottom: solid 2px rgb(231, 77, 77);
    background-color:rgb(243, 234, 236);
    height: 30px;
    &:focus{
        // border-bottom: solid 2px rgb(231, 77, 77);

    }
}


.invalidText{
    position: absolute;
    font-size: 10px;
    font-style: italic;
    color:rgb(231, 77, 77);
    bottom: -12px;

}

input{
    border-radius: 5px;
    padding: 10px;
}

button{
    margin-top: 10px;
    width: 80%;
    height: 30px;
    background-color: rgb(12, 92, 161);
    color: white;
    border: none;

    &:hover{
        background-color: rgb(59, 119, 171);
    }

    &:active{
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    &:disabled{
        background-color: rgb(107, 107, 107);
        &:hover{
            background-color: rgb(107, 107, 107);
        }
    
        &:active{
            background-color: rgb(107, 107, 107);
        }
    }
}